<html>
    <head></head>

    <body>
        <h1>Add Trip</h1>

        <form method="GET" action='/trips'>
            <button>View All Trips</button>
        </form>

        <form method="POST" action='/add-trip'>
            <input type="text" placeholder="title" name="tripTitle">
            <input type="text" placeholder="img url" name="tripImage">
            <input type="date" placeholder="dod" name="tripDod">
            <input type="date" placeholder="dor" name="tripDor">
            <button>Save</button>
        </form>
    
    </body>

</html>