<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>

        <div id="homeMainContainer">
            <div id="homeContainer">
                <h1>Movie List Builder</h1>

                <a id="loginLink" href="http://localhost:3000/login">Login</a>
                <br />
                <a id="registerLink" href="http://localhost:3000/register">Register</a>
            
            </div>
        </div>

    </body>
</html>