<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>

        <form method="POST" action="/login">
            <input type = "text" placeholder="username" name ="username" />
            <input type = "password" placeholder="password" name = "password" />
            <button>Login</button>
        </form>

        {{createMessage}}

    <script src="/js/static.js"></script>
    </body>
</html>