<html>
    <head>
    </head>

    <body>

        <form method="POST" action="/register">
            <input type = "text" placeholder="username" name ="usernameText" />
            <input type = "password" placeholder="password" name = "passwordText" />
            <button>Register</button>
        </form>

    </body>
</html>