<html>
    <head>
    </head>
    
    <body>
        <h1>Create Account</h1>


        <form method="POST" action="/create-account">
            <input type="text" name="usernameText" />
            <input type="password" name="passwordText" />
            <button>Register</button>
        </form>

        
    </body>
</html>