<html>
        <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    
    <body>
        <div class="container">
            <div class="col">
                <h1>Create Your Account</h1>
                <p>Almost there..<p>
            </div>

            <div class="col">
                <form method="POST" action="/create-account" class="inputIndex">
                    <input type="text" placeholder="Username" name="usernameText" />
                    <input type="password" placeholder="Password" name="passwordText" />
                    <button>Register</button>
                </form>
                {{errorMessage}}

            </div>
                <p>
                    Already have an account?
                    <a href="/">Login</a>
                </p>

        </div>
</html>