
<html>
    <head>
    </head>
    
    <body>
        <a href="/logout">Logout</a>
        <h1>Dashboard</h1>
        <a href="/blog/view-all">View All Posts</a>


        <h2>Create a post<h2>
            <form method="POST" action="/blog/create-post">
                <input type="text" placeholder="Title" name="titleText" />
                <input type="text" placeholder="Body" name="bodyText" />
                <select name="categoryText">
                    <option value="">Select Category</option>
                    <option value="Personal">Personal</option>
                    <option value="Public">Public</option>
                    <option value="Business">Business</option>
                </select>
                <button>Post</button>
            </form>

        <ul>
        {{#allPosts}}

            <li>
                <h3>{{title}}<h3>
                {{body}}
                {{date_created}}
                
                <form method="POST" action="/blog/delete/{{id}}">
                    <button>Delete</button>
                </form>

                <p>Category: {{category}}</p>

                <p>Posted by {{user.username}}</p>
                <a href="/blog/edit/{{id}}">Edit</a>
                <a href="/blog/post/{{id}}">View Post</a>

            </li>

        {{/allPosts}}
        </ul>

        
    </body>
</html>