
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    
    <body>
        <div class="container">
            <div class="col">
                <h1>OH MY BLOG!</h1>
                <p>Post all your Lumpy Space Blogs.<p>
            </div>

            <div class="col">
                <form method="POST" action="/login" class="inputIndex">
                    <input type="text" placeholder="Username" name="usernameText" />
                    <input type="password" placeholder="Password" name="passwordText" />
                    <button>Login</button>
                </form>

                {{logoutMessage}}

            </div>
                <p>
                    Don't Have an Account?
                    <a href="/create-account">Register Now</a>
                </p>

        </div>

        
    </body>
</html>